body{
  font-family: Helvetica;
}

h1{
  color: khaki;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-weight: bold;
  font-size: 100px;
  text-align: center;
}

h2{
  color: white;
  font-size: 32px;
  font-weight: bold;
}

b{
  color: blue;
  font-weight: bold;
}

.green{
  background-color: mediumspringgreen;
}

.coral{
  background-color: lightcoral;
}

.blue{
  background-color: skyblue;
}
